# All files require review and approval from the repo owner before merging.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @ziv-nadil
